body {
  width: 100%;
  /* background-color: black; */
  background: rgb(183,185,147);
  background: radial-gradient(circle, rgba(183,185,147,1) 0%, rgba(148,200,233,1) 100%);
  font-family: "Courier"
}

.container {
  width: 600px;
  margin: 10px auto;
  text-align: center;
}

.letter {
  font-size: 1.4em;
  color: rgb(0, 0, 0);
  display: inline-block;
  margin: 5px;
}

.textArea {
  border: 1px solid #888;
}

/* body, html {
  height: 100%;
  background: #fff;
} */

.containerBtn {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
  margin-top: 150px;
  -webkit-perspective: 1000;
  -webkit-backface-visibility: hidden;
  /* background: #fff; */
}

.pulse-button {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 1.3em;
  font-weight: light;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #5a99d4;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
  -webkit-animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

